{% load ccd_extras %}
<div class="panel panel-default">
	<div class="panel-heading">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseAllergies">Allergies</a>
	</div>
	<div id="collapseAllergies" class="accordion-body collapse panel-body">
		<div class="accordion-inner">
            {% for allergy in request.session.CurrentPatient.allergies %}
                <div style="background-color: {% cycle '#c5c5c5' '#F0F0F0' %}">
                    <strong> {{ allergy.allergen.name }} </strong> <br>
                </div>
            {% endfor %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseAllergiesDetail">Detail Table</a>
                </div>
            </div>
            <div id="collapseAllergiesDetail" class="accordion-body collapse panel-body">
		        <div class="accordion-inner">
                    {% autoescape off %}
                        {{ request.session.CurrentPatientTables.Allergies_Adverse_Reactions_Alerts }}
                    {% endautoescape %}
                </div>
        </div>
    </div>
</div>
</div>