{% extends "base.html" %}

{% block content %}

This is the dashboard, {{ user.get_username }}.

<form enctype="multipart/form-data" action="/CCD/dashboard/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>


<!-- All this stuff should go in another template somewhere so it can be re-used etc !-->
{% if request.session.CurrentPatient %}

<div class="panel-group" id="accordion">
	<div class="panel panel-default">
	    <div class="panel-heading">
	        <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Documentation</a>
	        </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse">
	        <div class="panel-body">
	            Date: {{ request.session.CurrentPatient.document.date }}<br>
	            Provider: {{ request.session.CurrentPatient.demographics.provider.organization }} <br><!--missing from marla's CCD-->
	            Function Code: {{ pass }} <br><!--Not sure where to pull this / what it is-->
	            Address: {{ request.session.CurrentPatient.demographics.address.street.0 }} <br>
	            City: {{ request.session.CurrentPatient.demographics.address.city }} <br>
	            State: {{ request.session.CurrentPatient.demographics.address.state }} <br>
	            Country: {{ request.session.CurrentPatient.demographics.address.country }} <br>
	            Zip: {{ request.session.CurrentPatient.demographics.address.zip }} <br>
	            Phone: {{ request.session.CurrentPatient.demographics.phone.home }} <br>
	            Prefix: {{ request.session.CurrentPatient.demographics.name.prefix }} <br>
	            First Name: {{ request.session.CurrentPatient.demographics.name.given.0 }} <br>
	            Last Name: {{ request.session.CurrentPatient.demographics.name.family }} <br>
	        </div>
	    </div>
	</div>
	<div class="panel panel-default">
	    <div class="panel-heading">
	        <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Demographics</a>
	        </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse">
	        <div class="panel-body">
	            First Name: 
	            {{ request.session.CurrentPatient.demographics.name.given.0 }} <br>
	            Middle: <br>
				Surname: 
				{{ request.session.CurrentPatient.demographics.name.family }} <br>
				Preferred Language: <br>
				Gender: <i class="fa fa-female"></i><br>
				Race: <br>
				Ethnicity: <br>
				Date of Birth <br>
				Address: <br>
				City: <br>
				State: <br>
				Country: <br>
				Zip: <br>
				Phone: <br>
				Email: <br>
	        </div>
	    </div>
	</div>
	<div class="panel panel-default">
	    <div class="panel-heading">
	        <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Vitals</a>
	        </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse">
	        <div class="panel-body">
	            Add interactive display for vitals
	        </div>
	    </div>
	</div>
</div>

{% else %}
No current patient
{% endif %}

{% endblock %}