{% extends "base.html" %}

{% block content %}

This is the dashboard, {{ user.get_username }}.

<form enctype="multipart/form-data" action="/CCD/dashboard/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>


<!-- All this stuff should go in another template somewhere so it can be re-used etc !-->
{% if request.session.CurrentPatient %}

<div class="panel-group" id="accordion">
	{% include "CCD/documentation.html" %}
	{% include "CCD/demographics.html" %}
</div>

{% else %}
No current patient
{% endif %}

{% endblock %}